:host {
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .main-layout {
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  
  mat-list, mat-nav-list {
    padding: 0;
  }
  
  .items {
    background-color: #d6ffd6;
  }
  
  .border {
    border-right: 1px solid gainsboro;
  }

  :host ::ng-deep .mat-list-item-content {
    width: 100%;
    justify-content: space-between;
  }