:host {
    width: 100%;
    height: 100%;
    display: flex;
}

.main-layout {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 32px;
}

.search-dates {
    width: 50%;
    padding: 0 32px;
}

button {
    background-color: #dcdcff;
}