mat-card {
  box-shadow: none;
}

.header {
  padding: 16px;
  height: 88px;
}

.container {
  position: relative;
}

.data-card {
  margin: 32px;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 67px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

td.mat-cell {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
}

:host ::ng-deep {
  .mat-form-field-flex {
    background: white !important;
  }
  .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
    transform: translateY(0%);
  }
}

.selectable {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
