table {
    position: relative;
    width: 550px;
    border-collapse: separate;
    border-spacing: 50px 0;
}

.table {
    
    padding-bottom: 20px;
}

th {
    padding: 10px;
    font-size: large;
    background-color:#dcdcff;
}

td mat-cell {
    width: 20px;
}

td {
    padding: 10px 0;
    margin-bottom: 3px;
    margin-right: 5px;
}

button {
    position:relative;
    left: 85%;
}

.tabs {
    position: relative;
    left: 30%;
    margin-top: 15%;
}

.selected {
    background-color:  #dcdcff;;
}

mat-tab {
    font-size: larger;
}

textarea {
    height: 30px;
    font-size: 22px;
}
