:host {
    width: 100%;
    height: 100%;
    display: flex;
}

.main-layout {
    width: 100%;
    height: 100%;
    display: block;

  img {
    width: fit-content;
    height: fit-content;
  }

  
}

.search {
    display: block;
    position: relative;
    left: 40%;
}

.result {
    display: block;
    position: relative;
    left: 10%;
}

label {
    display: block;
    font-size: large;
}

textarea {
    display: inline-block;
    position: relative;
    right: 30%;
    font-size: large;
    margin-right: 20px;
}

button {
    display: inline-block;
    position: relative;
    right: 30%;
    margin-top: 15%;
    font-size: medium;
}