@mixin esys-common() {
  .full-width {
    width: 100%;
  }

  .width-50 {
    width: 50%;
  }

  .full-height {
    height: 100%;
  }

  .no-margin {
    margin: 0;
  }

  .action-column {
    padding-right: 2px !important;
    text-align: right;
  }

  .text-bold {
    font-weight: bold;
  }
  .text-center {
    text-align: center;
  }

  .margin-top-16 {
    margin-top: 16px;
  }

  .margin-bottom-16 {
    margin-bottom: 16px;
  }

  .padding-left-16 {
    padding-left: 16px;
  }

  .padding-right-8 {
    padding-right: 8px;
  }

  .padding-right-16 {
    padding-right: 16px;
  }

  .padding-top-16 {
    padding-top: 16px;
  }

  .padding-bottom-16 {
    padding-bottom: 16px;
  }

  .no-margin {
    margin: 0;
  }
  .green-color {
    color: green;
  }

  .red-color {
    color: red;
  }

  .grey-color {
    color: gray;
  }

  .cursor-pointer {
    cursor: pointer;
  }
}

@mixin mat-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
}
